.Breadcrumb {
  display: flex;
  gap: 3.2rem;
}

.Breadcrumb__item {
  font-size: 1.2rem;
  color: var(--color-gray-1);
  position: relative;
}

.Breadcrumb__item::after {
  content: '>';
  right: -2rem;
  position: absolute;
}

.Breadcrumb__item--disabled::after {
  display: none;
  content: '';
}

.Breadcrumb__link {
  font-size: inherit;
  text-decoration: none;
  color: var(--color-gray-1);
}

.Breadcrumb__link:hover {
  text-decoration: underline;
}
